# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv

# Docker
Dockerfile
docker-compose.yml

# Logs
*.log

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Project specific
*.sqlite3
.env
data/
downloads/
temp/
